h1 {
    font-size: 5vmin;
  }
  
  h2 {
    font-size: 4vmin;
  }
  
  h3 {
    font-size: 3vmin;
  }
  
  h4 {
    font-size: 3vmin;
    color: darkslategray;
    margin-top: -50px;
  }
  
  p {
    font-size: 2vmin;
    underline: none;
  }
  
  a {
    text-decoration: none;
    color: white;
    align-content: center;
  }
