.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  