@import "../CSS/BuildingBlocks/bodystyle.css";
@import "../CSS/BuildingBlocks/fontsize.css";
@import "../CSS/BuildingBlocks/socialmedia.css";

.container {
  display: grid;
  width: 300px;
  grid-template-areas:
    "hd-1"
    "two"
    "one"
    "three"
    "four"
    "hd-2"
    "hd-3"
    "at-1"
    "ft";
}

.figcaption {
  text-align: center;
  margin-top: -2px;
}

.header-1 {
  align-self: center;
  color: darkslategray;
  grid-area: hd-1;
}

.header-2 {
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-2;
}

.header-3 {
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-3;
}

.header-2:hover,
.header-3:hover {
  background-color: gray;
  border-bottom-width: 0;
  margin-top: 0.2em;
  text-decoration: none;
}

#author-1 {
  grid-area: at-1;
}

#one {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  grid-area: one;
}

#two {
  font-size: 2vmin;
  text-align: center;
  align-self: center;
  width: 300px;
  justify-content: space-around;
  padding: 15px;
  caption-side: bottom;
  grid-area: two;
}

#three {
  font-size: 2vmin;
  text-align: center;
  align-self: center;
  justify-content: space-around;
  width: 300px;
  padding: 15px;
  caption-side: bottom;
  grid-area: three;
}

#four {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  grid-area: four;
}

.footer {
  color: black;
  grid-area: ft;
}

@media (min-width: 900px) {
  .h1 {
    font-size: 100%;
  }
  .container {
    display: grid;
    width: 755px;
    height: 100%;
    grid-template-columns: 450px 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      "hd-1 hd-2 hd-3"
      "at-1 at-1 at-1"
      "one two two"
      "three four four"
      "ft ft ft";
  }
}
