@import "../CSS/BuildingBlocks/bodystyle.css";
@import "../CSS/BuildingBlocks/fontsize.css";
@import "../CSS/BuildingBlocks/socialmedia.css";

.container {
  display: grid;
  width: 300px;
  grid-template-areas:
    "hd-1"
    "bx2"
    "bx1"
    "bx3"
    "bx4"
    "hd"
    "hd-2"
    "hd-3"
    "ft";
}

.figcaption {
  text-align: center;
  margin-top: -2px;
}

.header-1 {
  align-self: center;
  color:green
  grid-area: hd-1;
}

.header-2 {
  display: flex;
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-2;
}

.header-3 {
  display: flex;
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-3;
}

.header-2:hover,
.header-3:hover {
  background-color: gray;
  border-bottom-width: 0;
  margin-top: 0.2em;
  text-decoration: none;
}

header {
  grid-area: hd;
}

#box1 {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  grid-area: bx1;
}

#box2 {
  font-size: 2vmin;
  text-align: center;
  align-self: center;
  width: 300px;
  justify-content: space-around;
  padding: 15px;
  caption-side: bottom;
  grid-area: bx2;
}

#box3 {
  font-size: 2vmin;
  text-align: center;
  align-self: center;
  justify-content: space-around;
  width: 300px;
  padding: 15px;
  caption-side: bottom;
  grid-area: bx3;
}

#box4 {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  grid-area: bx4;
}

footer {
  color: black;
  grid-area: ft;
}

@media (min-width: 900px) {
  .h1 {
    font-size: 100%;
  }
  .container {
    display: grid;
    width: 755px;
    height: 100%;
    grid-template-columns: 450px 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      "hd-1 hd-2 hd-3"
      "hd hd hd"
      "bx1 bx2 bx2"
      "bx3 bx4 bx4"
      "ft ft ft";
  }
}
