body {
  display: flex;
  justify-content: center;
  background-color: thistle;
  font-family: 'Bodoni Moda', 'Open Sans', 'sans-serif';
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 3vmin;
  color: black;
}
h4 {
  font-size: 3vmin;
  color: darkslategray;
  margin-top: -50px;
}

p {
  font-size: 2vmin;
  width: 300px;
  margin-top: -2px;
  text-align: center;
}

.container {
  display: grid;
  width: 300px;
  grid-template-areas:
    'hd-1'
    'two'
    'one'
    'three'
    'four'
    'hd-2'
    'hd-3'
    'ft';
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  align-content: center;
}

.header {
  text-align: center;
  align-self: center;
  width: 100px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: space-between;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd;
}

.header-1 {
  align-self: center;
  color: darkslategray;
  grid-area: hd-1;
}

.header-2 {
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-2;
}

.header-3 {
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-3;
}

.header-2:hover,
.header-3:hover {
  background-color: gray;
  border-bottom-width: 0;
  margin-top: 0.2em;
  text-decoration: none;
}

#sidebar {
  grid-area: sd;
}

#one {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  grid-area: one;
}

#two {
  text-align: left;
  align-self: center;
  width: 300px;
  justify-content: space-around;
  padding: 15px;
  grid-area: two;
}

#three {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  width: 300px;
  padding: 15px;
  grid-area: three;
}

#four {
  text-align: left;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  grid-area: four;
}

.footer {
  grid-area: ft;
  color: black;
}

@media (min-width: 900px) {
  .h1 {
    font-size: 100%;
  }
  .container {
    display: grid;
    width: 755px;
    height: 100%;
    grid-template-columns: 450px 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      'hd-1 hd-2 hd-3'
      'one two two'
      'three four four'
      'ft ft ft';
  }
}
