@import "../CSS/BuildingBlocks/bodystyle.css";
@import "../CSS/BuildingBlocks/fontsize.css";
@import "../CSS/BuildingBlocks/socialmedia.css";

.container {
  display: grid;
  width: 300px;
  grid-template-areas:
    'hd-1'
    'one'
    'two'
    'three'
    'hd-2'
    'hd-3'
    'ft';
}

.header-1 {
  align-self: center;
  color: darkslategray;
  grid-area: hd-1;
}

.header-2 {
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-2;
}

.header-3 {
  text-align: center;
  align-self: center;
  background-color: black;
  color: white;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid gray;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  grid-area: hd-3;
}

.header-2:hover,
.header-3:hover {
  background-color: gray;
  border-bottom-width: 0;
  margin-top: 0.2em;
  text-decoration: none;
}

#sidebar {
  grid-area: sd;
}

#one {
  text-align: left;
  grid-area: one;
}

#two {
  text-align: left;
  grid-area: two;
}

#three {
  text-align: left;
  grid-area: three;
}

.footer {
  grid-area: ft;
  color: black;
}

@media (min-width: 900px) {
  .h1 {
    font-size: 100%;
  }
  .container {
    display: grid;
    width: 755px;
    height: 100%;
    grid-template-columns: 450px 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      'hd-1 hd-2 hd-3'
      'one one one'
      'two two two'
      'three three three'
      'ft ft ft';
  }
}
